header{
    text-align: center;
    background-color: blue;
    color: red;
    padding: 50px;
    filter: contrast(90%);
    filter: brightness(50%);
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}
header:hover{
    filter: brightness(55%);
    transition: 1s ease-out;
    border-radius: 0px 15px 15px 0px;
    font-size: 21px;

}
.Linear_diff h2, .Linear_int h2, .Linear_simult h2,.Linear_Quad h2{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px;
    font-size: 15px;
}
.Linear_diff, .Linear_Quad{
    transition: 2s;
}
.Linear_simult form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(223, 222, 236);
    border-radius: 20px;
    width: 50%;
    padding: 5%;
    margin: auto;
}
.Linear_simult input, .Linear_Quad input{
    margin-bottom: 10px;
}

.form, .Linear_Quad form{
    width: 50%;
    padding: 5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 222, 236);
    border-radius: 20px;
}
.form:hover{
    background-color: rgb(199, 195, 235);
    transition: 1s;
}
input{
    width: 30%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: rgb(247, 248, 248);
}
input:hover{
    background-color: rgb(190, 193, 230);
    transition: 1s;
    border-radius: 10px;
}
input:focus{
    border: 2px inset blue;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 2px rgb(164, 164, 228);
    background-color: rgb(218, 219, 243);
}
label{
    color: blue;
    margin: 10px;
    font-size: 15px;
    text-shadow: 2px 2px 5px 2px solid white ;
}
button,.mode{
    width: 70%;
    margin: auto;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(6, 6, 97);
    color: white;
    outline: none;
    border: none;
}

.output, .outputint, .outputsimult, .outputQuad{
    max-width: 50%;
    margin: auto;
    color: rgb(5, 5, 99);
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
    background-color: rgb(190, 224, 253);
    padding: 30px;
    box-sizing: content-box;
    border-radius: 10px;
}
table{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    transition: 2s;
    font-size: 25px;
}

tr:nth-child(odd){
    background-color: rgb(212, 214, 248);
}
tr:nth-child(even){
    background-color: white;
}
th,td{
    padding: 20px;
}

.open, .close{
    text-align: center;
    width: 50px;
    height: 100px;
    font-size: 20px;
    transform: rotate(90deg);
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(2, 7, 44);
    color: white;
    font-weight: 900;
    border-radius: 10px;
    padding: 10px;
}
.open:hover, .close:hover,button:hover, .mode:hover{
    background-color: rgb(26, 35, 100);
    filter: saturate(20%);
    filter: brightness(80%);
    transition: 0.5s ease-out;
    border-radius: 15px;
}
.mode{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
.lightmode{
    background-color: rgb(6, 6, 97);
    color: white;
}
.darkmode{
    background-color: white;
    color: black;
}
.show{
    display: block;
}
.noshow{
    display: none;
}



.scrolldown{
    font-size: 50px;
    color: blue;
    transform: rotate(90deg);
    width: 50px;
    position: fixed;
    z-index: 500;
    animation-name: scrollanimate;
    animation-iteration-count: infinite;
    animation-duration: 0.2s;
    cursor: pointer;
    text-align: center;
}
.scrolldown:hover{
    background-color: rgb(106, 59, 247);
    border-radius: 50%;
    transition: 1s;

}
@keyframes scrollanimate {
    0%{
        font-size: 55px;
    }
    100%{
        font-size: 50px;
    }
    
}
footer{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
@media screen and (max-width: 500px) {
    .sect1{
        display: none;
    }
    .sect2{
        width: 100%;
    }

    
}